.ticker-list {
  width: 100%;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 4px;
}

.ticker {
  padding: 10px;
  border-bottom: 1px solid black;
}

.ticker:hover {
  background-color: #E6E6E6;
}

.ticker:last-of-type {
  border-bottom: none;
}

.descending {
  animation: BLINK-RED 1s 1;
}

.ascending {
  animation: BLINK-GREEN 1s 1;
}

@-webkit-keyframes BLINK-RED {
  0%, 49% {
    background-color: #D2322D;
  }
}

@-webkit-keyframes BLINK-GREEN {
  0%, 49% {
    background-color: #47A447;
  }
}

.search-bar {
  margin-top: 20px;
  button {
    height: 34px;
  }
}

.selected {
  background-color: #E6E6E6;
}
